<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/static/css/bootstrap.min.css' />
    <script src="https://kit.fontawesome.com/e2fb75d014.js" crossorigin="anonymous"></script>
    <style>
    </style>

    <title>Tamat Perkhidmatan</title>

</head>
<body>
    <div class="container" style="text-align: center;">
        <br>
        <h1>UCC Pahang secara rasmi ditutup</h1>
        <p>Terima kasih atas perkhidmatan yang diberikan</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
</body>

</html>